:root {
  --dark: #393b3d;
  --blue: #4589cc;
  font-family: "Oswald", sans-serif;
}

/* margin added to fill white space */
* {
  margin: 0%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  box-sizing: border-box;
  height: 90px;
  background: var(--dark);
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
  color: var(--blue);
  font-family: "Oswald", sans-serif;
}

.topName {
  align-content: left;
}

.topnavLinks {
  display: inline-block;
  list-style: none;
}

.topnavLinks li {
  display: inline-block;
}

.topnavLinks a {
  color: var(--blue);
}

.container {
  display: flex;
}

.aboutMe {
  border-right: var(--blue) solid 5px;
}
